# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.UnityGeneralUtils.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\workplace\Unity\UnityGeneralUtils\.idea\.idea.UnityGeneralUtils\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
